# placing away the outputs 
outputs/


tensorboard_logs/


lightning_logs/
checkpoints/
__pycache__/
*.pth
*.pkl

multirun/
figures_xp/
__pycache__/
*.pyc
.cpy
tsExperiments/logs/
tsExperiments/lightning_logs/

*.csv 
tsExperiments/logs_past/
tsExperiments/logs_to_delete/
tsExperiments/logs_21-01-pb-val
tsExperiments/logs_22-01-error-split


tsExperiments/toy-experiment/logs/
tsExperiments/toy-experiment/.vscode/
tsExperiments/toy-experiment/__pycache__/

tsExperiments/eval_timeMCL.sh

tsExperiments/train_timeMCL.sh

tsExperiments/ckpts.json
*.json

*.pth

toy_ad/

*.pkl

__pycache__/

*.csv

tsExperiments/configs/experiments/taxi_eval.yaml